.colors {
  color: #16519f;
  color: #f07e74;
  color: #f8dd2e;
  color: #4fcbe9;
  color: #001730;
  color: #4ad7d1;
  color: #fe4a49;
  color: #ee7879;
  color: #2a3166;
  color: #f4abaa;
  color: #cae7df;
}

