@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(233, 107, 97);
  background: linear-gradient(174deg, rgba(233, 107, 97, 1) 0%, rgba(155, 52, 192, 1) 50%, rgba(45, 112, 216, 1) 100%);
  flex-direction: column;
  margin-bottom: 200px;
}

.sessao-superior {
  display: flex;
  flex-direction: row;
}

#pessoal {
  margin-top: 50px;
  height: 500px;
  width: 700px;
  background-image: linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
  border-radius: 50px;
}

.conhecimento-imagens img {
  margin-top: 30px;
}

#pessoal img {
  width: 150px;
  border-radius: 150px;
  margin: 0 0 0 15px;
}

.pessoal-superior {
  display: flex;
  flex-direction: row;
}

.pessoal-superior p {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  color: white;
  margin: 30px 50px 0 30px;
  line-height: 25px;
  text-align: justify;
}

.pessoal-superior-profile {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.pessoal-superior-profile p {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  color: white;
  margin: 5px 0 0 15px;
  line-height: 15px;
}

.pessoal-superior-profile p span {
  font-weight: 300;
}

.pessoal-superior-lateral {
  display: flex;
  flex-direction: column;
}

#conhecimento {
  margin: 50px 0 0 15px;
  height: 500px;
  width: 300px;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #dddff3 100%);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.sites-container h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  margin: 25px 0 0 50px;
  line-height: 15px;
}

#conhecimento h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  margin: 50px 0 0 15px;
  line-height: 15px;
  text-align: center;
}

.conhecimento-imagens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sites {
  margin-top: 15px;
  height: 250px;
  width: 1015px;
  background-color: #b5fffc;
  background-image: linear-gradient(0deg, #b5fffc 0%, #ffdee9 100%);
  border-radius: 50px;
}

.sites-container {
  display: flex;
  flex-direction: column;
}

.sites-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
